.messenger {
  position: fixed;
  bottom: 0;
  right: 5px;
  padding-bottom: 105px;

  width: 350px;
  height: 340px;
  display: flex;

  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.chatBox {
  flex: 1;
}

.chatBoxWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
  padding-right: 5px;
  padding-top: 0;
  height: 100%;
  background-color: #fff;
}

.chatBoxTop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 40px;
  padding: 5px 10px;
  border-bottom: 2px solid #0003;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
}

.chatBoxTopInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatBoxTopName {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(53, 52, 52);
  text-transform: capitalize;
}

.chatBoxTopImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.chatBoxTopBadge {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  bottom: 0;
  right: -1px;
}

.chatBoxBottom {
  position: absolute;
  bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;

  margin: 0 2.5%;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid lightgray;
}

.chatMessageInput {
  width: 80%;
  padding: 0 10px;
  border: none;
}

.chatMessageInput:focus {
  outline: none;
}

.chatSubmitButton {
  margin-left: 10px;
  width: 60px;
  height: 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1877f2;
  color: white;
}

.chatBoxText {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatOnline {
  flex: 3;
}
